.container .title{
    color: #FFF;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text{
    color: #F7D354
}

.loop-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
}

.loop-container h4{
    width: 30%;
    color:#fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;    
    background-color: #422b56ba;
    padding: 1rem;
}

#divCal{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:35px;    
    margin: 0 auto;
  }
  
  #txtCal{
    float:left;
    background-color:transparent;
    padding-left:8px;
    font-size:18px;
    box-shadow: 0 0 0 0;
    border:0 none;
    outline: 0;
    height:30px;
    width:285px;
  }